Cliente/xml-resources/web-service-references/ListarPublicacoesApp/wsdl/localhost_8080/ListarPublicacoesService/ListarPublicacoesApp.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soa.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soa.br/" name="ListarPublicacoesApp">
<types>
<xsd:schema>
<xsd:import namespace="http://soa.br/" schemaLocation="http://localhost:8080/ListarPublicacoesService/ListarPublicacoesApp?xsd=1"/>
</xsd:schema>
</types>
<message name="listarPublicacoes">
<part name="parameters" element="tns:listarPublicacoes"/>
</message>
<message name="listarPublicacoesResponse">
<part name="parameters" element="tns:listarPublicacoesResponse"/>
</message>
<message name="ClassNotFoundException">
<part name="fault" element="tns:ClassNotFoundException"/>
</message>
<message name="InstantiationException">
<part name="fault" element="tns:InstantiationException"/>
</message>
<message name="IllegalAccessException">
<part name="fault" element="tns:IllegalAccessException"/>
</message>
<message name="inserirPublicacao">
<part name="parameters" element="tns:inserirPublicacao"/>
</message>
<message name="inserirPublicacaoResponse">
<part name="parameters" element="tns:inserirPublicacaoResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<portType name="ListarPublicacoesApp">
<operation name="listarPublicacoes">
<input wsam:Action="http://soa.br/ListarPublicacoesApp/listarPublicacoesRequest" message="tns:listarPublicacoes"/>
<output wsam:Action="http://soa.br/ListarPublicacoesApp/listarPublicacoesResponse" message="tns:listarPublicacoesResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://soa.br/ListarPublicacoesApp/listarPublicacoes/Fault/ClassNotFoundException"/>
<fault message="tns:InstantiationException" name="InstantiationException" wsam:Action="http://soa.br/ListarPublicacoesApp/listarPublicacoes/Fault/InstantiationException"/>
<fault message="tns:IllegalAccessException" name="IllegalAccessException" wsam:Action="http://soa.br/ListarPublicacoesApp/listarPublicacoes/Fault/IllegalAccessException"/>
</operation>
<operation name="inserirPublicacao">
<input wsam:Action="http://soa.br/ListarPublicacoesApp/inserirPublicacaoRequest" message="tns:inserirPublicacao"/>
<output wsam:Action="http://soa.br/ListarPublicacoesApp/inserirPublicacaoResponse" message="tns:inserirPublicacaoResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://soa.br/ListarPublicacoesApp/inserirPublicacao/Fault/ClassNotFoundException"/>
<fault message="tns:InstantiationException" name="InstantiationException" wsam:Action="http://soa.br/ListarPublicacoesApp/inserirPublicacao/Fault/InstantiationException"/>
<fault message="tns:IllegalAccessException" name="IllegalAccessException" wsam:Action="http://soa.br/ListarPublicacoesApp/inserirPublicacao/Fault/IllegalAccessException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://soa.br/ListarPublicacoesApp/inserirPublicacao/Fault/ParseException"/>
</operation>
</portType>
<binding name="ListarPublicacoesAppPortBinding" type="tns:ListarPublicacoesApp">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarPublicacoes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
<fault name="InstantiationException">
<soap:fault name="InstantiationException" use="literal"/>
</fault>
<fault name="IllegalAccessException">
<soap:fault name="IllegalAccessException" use="literal"/>
</fault>
</operation>
<operation name="inserirPublicacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
<fault name="InstantiationException">
<soap:fault name="InstantiationException" use="literal"/>
</fault>
<fault name="IllegalAccessException">
<soap:fault name="IllegalAccessException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ListarPublicacoesApp">
<port name="ListarPublicacoesAppPort" binding="tns:ListarPublicacoesAppPortBinding">
<soap:address location="http://localhost:8080/ListarPublicacoesService/ListarPublicacoesApp"/>
</port>
</service>
</definitions>