Cliente/src/META-INF/wsdl/localhost_8080/Servico/ServicoApp.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soa.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soa.br/">

<xs:element name="ClassNotFoundException" type="tns:ClassNotFoundException"/>

<xs:element name="IllegalAccessException" type="tns:IllegalAccessException"/>

<xs:element name="InstantiationException" type="tns:InstantiationException"/>

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="atualizarPublicacao" type="tns:atualizarPublicacao"/>

<xs:element name="atualizarPublicacaoResponse" type="tns:atualizarPublicacaoResponse"/>

<xs:element name="deletarPublicacao" type="tns:deletarPublicacao"/>

<xs:element name="deletarPublicacaoResponse" type="tns:deletarPublicacaoResponse"/>

<xs:element name="inserirPublicacao" type="tns:inserirPublicacao"/>

<xs:element name="inserirPublicacaoResponse" type="tns:inserirPublicacaoResponse"/>

<xs:element name="listarPublicacoes" type="tns:listarPublicacoes"/>

<xs:element name="listarPublicacoesResponse" type="tns:listarPublicacoesResponse"/>

<xs:complexType name="atualizarPublicacao">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="paginaInicial" type="xs:int"/>
<xs:element name="paginaFinal" type="xs:int"/>
<xs:element name="dataPublicacao" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarPublicacaoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ClassNotFoundException">
<xs:sequence>
<xs:element name="exception" type="tns:throwable" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="InstantiationException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IllegalAccessException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPublicacoes">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarPublicacoesResponse">
<xs:sequence>
<xs:element name="return" type="tns:autorPublicacao" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autorPublicacao">
<xs:sequence>
<xs:element name="cpf" type="xs:string" minOccurs="0"/>
<xs:element name="dataPublicao" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id_autor" type="xs:int"/>
<xs:element name="id_pub" type="xs:int"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="nomeCitacao" type="xs:string" minOccurs="0"/>
<xs:element name="paginaFinal" type="xs:int"/>
<xs:element name="paginaInicial" type="xs:int"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletarPublicacao">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletarPublicacaoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirPublicacao">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="paginaInicial" type="xs:int"/>
<xs:element name="paginaFinal" type="xs:int"/>
<xs:element name="dataPublicacao" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inserirPublicacaoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>